body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.container1 {
    background-color: rgb(228, 222, 222);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.container2 {
    background-color: rgb(228, 222, 222);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
    font-size: 22px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
}

.create-btn {
    background-color: #2c54d8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s;
}

.delete-btn {
    background-color: rgb(216, 38, 38);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s;
}

.create-btn:hover {
    background-color: #294dc5;
}

.delete-btn:hover {
    background-color: rgb(192, 34, 34);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: right;
    border: 2px solid #ddd;
    color: #000000;
    background-color: #f2f2f2;
}

th {
    font-weight: bold;
    text-align: center;
}


.key-cell {
    font-family: monospace;
    word-break: break-all;
    max-width: 300px;
}

.empty-message {
    text-align: center;
    color: #666;
    padding: 20px;
}

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    display: none;
}