.basics-body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #333;
} 

h1 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

textarea {
    width: 200px; /* Largeur réduite pour s'adapter à la ligne */
    height: 50px; /* Hauteur réduite */
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none;
    color: #000000!important;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #000000;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.output {
    width: 300px; /* Largeur fixe pour la sortie */
    height: 50px; /* Hauteur réduite */
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    overflow: auto; /* Permet le défilement si le texte dépasse */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    color: #000000!important;
}