body {
   background-color: rgba(31,41,55); 
   color: black;
}


.mining-body {
    max-width: 100%;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.miner-container, 
.candidate-container, 
.mining-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 10px);
    min-width: 300px;
}

.miner-container {
    width: 100%;
}

.miner-container h4,
.candidate-container h4,
.mining-container h4 {
    color: black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

#minerSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    color: black;
}

h5 {
    color: black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bold!important;
    font-size: 20px!important;
}

.candidateBlockInfo {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.candidate-header {
    margin-bottom: 15px;
    color: black;
}

.candidate-body {
    background-color: #f2f2f2;
    border-radius: 6px;
    padding: 15px;
    color: black;
}

.mineBlockBtn {
    width: 100%;
    background-color: rgba(31, 41, 55);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.mineBlockBtn:hover {
    background-color:  rgb(23, 31, 41);
}

.mineBlockBtn:disabled {
    background-color: rgba(17,24,39);
    cursor: not-allowed;
}

.mining-container {
    width: calc(50% - 10px);
}

.miningProgress {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 15px;
    color: black;
}

#progressBar {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 15px;
}

#progressBarFill {
    background-color: #2ecc71;
    height: 100%;
    transition: width 0.5s ease;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .mining-body {
        padding: 20px;
    }

    .miner-container, 
    .candidate-container, 
    .mining-container {
        width: 100%;
    }
}

/* Transaction Styles */
.coinbase, .transactionsList > div, .transaction-info {
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e9ecef;
}